<!-- details -->
<!-- 
<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div> -->

<!-- edit -->

<!-- <div>
  <label>name: -->
    <!-- 双绑写法，注意处理input要导入FormsModule模块 -->
    <!-- <input type="text" [(ngModel)]="hero.name" placeholder="name">
  </label>
</div> -->

<!-- 英雄列表 hero list -->
<h2 class="bg-primary p-a-1">英雄列表</h2>

<div>{{heroes}}</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
    </li>
</ul> 

<!-- 所选英雄的详情，如果selectedHero有值，则显示如下dom元素 -->
<!-- <div *ngIf="selectedHero">
 
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedHero.name" placeholder="name">
      </label>
    </div>
   
  </div> -->

  <!-- 详情页的组件化封装 -->
  <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
